<!DOCTYPE html>
<html lang="en">

<head>
  {{> headAttributes}}
  <link href="/css/home.css" rel="stylesheet">
  <script defer src="/js/topMovies.js"></script>

</head>

<body class="c-app c-dark-theme">

  {{> navSidebar}}

  <div class="c-wrapper">

    {{> header}}

    <div class="c-body p-3">
      <div id="MovieGrid">
        {{#each movies}}
        <div class="card">
          <div class="card-body text-center pt-0">
            <div class="card-header bg-transparent">
              <h6 class="card-title">{{this.title}}</h6>
            </div>
            <img class="card-img-top" src="{{#if this.poster_path}}https://image.tmdb.org/t/p/w400{{this.poster_path}}
            {{else}}https://english2mee.files.wordpress.com/2018/07/proximamente.png?w=700{{/if}}" alt="MoviePoster">
            <p class="card-text"></p>
            <a class="DetailMovie  mb-2" href="/detail/?idMovie={{this.id}}" style="cursor: pointer;"><button
                class="btn btn-secondary detail">Detalles</button></a>
          </div>
        </div>
        {{/each}}
        
      </div>

      <div class="card p-3 w-100 align-self-center">
        <div class="card-body p-0">
          <nav aria-label="Page navigation">
            <ul class="pagination m-0 justify-content-center">
              {{{paginationText}}}
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>



  </div>

  <!-- CoreUI and necessary plugins-->
  <script src="vendors/@coreui/coreui/js/coreui.bundle.min.js"></script>
  <script src="vendors/@coreui/icons/js/svgxuse.min.js"></script>

</body>

</html>